{% extends "base.html" %}
{% block title %}Data{% endblock %}

{% block content %}
<h2>Datasets</h2>

<p>
Download <a href="{{STATIC_URL}}/Data.zip">all datasets, zipped</a> and extract. All files will extract to
a <code>Data</code> subdirectory.
</p>


{% endblock %}
