{% extends "base_slide.html" %}
{% block title %}My R Page{% endblock %}

{% block content %}

<div class="slide">
<h1>My Page</h1>

<!--begin.rcode
set.seed(310366)
x=runif(100)
hist(x)
end.rcode-->

</div>

{% endblock %}
