{% load i18n %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{% block title %}Spatial Analysis in R{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le styles -->
    <link href="{{STATIC_URL}}/bootstrap/css/bootstrap.css" rel="stylesheet">
    <style type="text/css">
      body {
        padding-top: 60px;
        padding-bottom: 40px;
      }
      .sidebar-nav {
        padding: 9px 0;
      }
    </style>
    <link href="{{STATIC_URL}}/css/style.css" rel="stylesheet">

    <link href="{{STATIC_URL}}/css/knitr.css" rel="stylesheet">

{% block knitcss %}
{% endblock %}

{% block extrahead %}
{% endblock %}

    <link href="{{STATIC_URL}}/bootstrap/css/bootstrap-responsive.css" rel="stylesheet" >

    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Le fav and touch icons -->
    <link rel="shortcut icon" href="../assets/ico/favicon.ico">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="../assets/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="../assets/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="../assets/ico/apple-touch-icon-57-precomposed.png">

   <script src="{{STATIC_URL}}/bootstrap/js/jquery.js"></script>
    <script src="{{STATIC_URL}}/bootstrap/js/bootstrap.js"></script>
    <script src="{{STATIC_URL}}/js/jquery.scianimator.min.js"></script>

  </head>

  <body>

    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container-fluid">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="index.html">{% trans "R Workshop" %}</a>
          <div class="nav-collapse">
            <ul class="nav">
              <li><a href="index.html">{% trans "Home" %}</a></li>
	      <li class="dropdown">
		<a href="#" class="dropdown-toggle" data-toggle="dropdown">{% trans "Presentations"%}<b class="caret"></b></a>
		<ul class="dropdown-menu">
                  <li class="nav-header">Header One</li>
		  <li><a href="{{STATIC_URL}}/intro.pdf">Introduction to R</a></li>
		  <li><a href="slides1.html">Slides</a></li>
		  <li><a href="{{STATIC_URL}}/../RSources/slides1.R">Slide source</a></li>
                  <li class="nav-header">Header Two</li>
		  <li><a href="spatialdata.html">Spatial Data</a></li>
		  <li><a href="spatialops.html">Spatial Operations</a></li>
		  <li><a href="spatialstats.html">Spatial Stats</a></li>
                  <li class="nav-header">Header Three</li>
		  <li><a href="ecopackages.html">Packages</a></li>
		</ul>
	      </li>
	      <li class="dropdown">
		<a href="#" class="dropdown-toggle" data-toggle="dropdown">{% trans "Worksheets"%}<b class="caret"></b></a>
		<ul class="dropdown-menu">
                  <li class="nav-header">Beginners</l1>
                  <li><a href="quadratic.html">Quadratic Equations</a></li>
                  <li><a href="modelling.html">Linear Models</a></li>
                  <li class="nav-header">Spatial Analyses</li>
		  <li><a href="spatialopexample.html">Spatial Operations - Zebra Ranges</a></li>
		  <!--li><a href="spcor.html">Spatial Correlation</a></li-->
		  <li><a href="ppexample.html">Point-Pattern Analysis - Bovine TB</a></li>
		  <!--li><a href="krigexample.html">Interpolation and Kriging</a></li-->
		</ul>
	      </li>
              <li><a href="data.html">{% trans "Sample Data" %}</a></li>
              <li><a href="cheatsheet.html">{% trans "Cheatsheet" %}</a></li>
            </ul>
            <p class="navbar-text pull-right">Lancaster University</p>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>

    <div class="container-fluid">
      <div class="row-fluid">

        <div class="span12">
      
        {% block content %}
	  hello
        {% endblock %}
        
        </div><!--/span-->

      </div><!--/row-->

      <hr>

      <footer>
        <p>&copy; Barry Rowlingson 2013 | stock imagery from <a target="_blank" href="http://www.sxc.hu/">Stock.xchng</a></p>
<a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/3.0/"><img alt="Creative Commons License" style="border-width:0" src="http://i.creativecommons.org/l/by-nc-sa/3.0/88x31.png" /></a><br /><span xmlns:dct="http://purl.org/dc/terms/" property="dct:title">UseR 2012 Spatial Data Workshop</span> is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/3.0/">Creative Commons Attribution-NonCommercial-ShareAlike 3.0 Unported License</a>.
      </footer>

    </div><!--/.fluid-container-->


<!--script type="text/javascript">
$("span.functioncall").replaceWith(function(){return '<a target="_blank" title="Search" href="http://rgm3.lab.nig.ac.jp/RGM/r_function_list?query='+$(this).text()+'">'+$(this).text()+'</a>'})
</script-->

{% block extrafoot %}
{% endblock %}

  </body>
</html>
